header {
    background-image:url(../img/pattern.png);
    background-repeat: repeat;
    background-color: #4ea0ff;
    height: 165px;
    position: relative;
}

.logo {
    position: absolute;
    left: 10px;
    bottom: 5px;
    height: 50px;
    width: 200px;
}

.title {
    font-size: 30px;
    font-weight: bolder;
    margin-top: 15px;
    margin-bottom: 10px;
}

.grigini {
    color: rgba(126, 122, 122, 0.836);
    font-weight: bold;
}

.blue-highlight {
    color: rgb(3, 148, 245);
}

.data {
    font-size: 10px;
}

.container-foto {
    height: 500px;
    display: flex;
}

/* le foto sono di rapporto diverse ma ho provato a farle mezze responsive per la dimesnione dello schermo senza che vadano a capo  */
.foto1 {
    display: inline-block;
    background-image: url(../img/tim-1.jpg);
    background-size: contain;
    width:45%;
    height: 100%;
    background-repeat: no-repeat;
    margin-right: 10px;
}

.foto2 {
    display: inline-block;
    background-image: url(../img/tim-2.jpg);
    background-size: contain;
    width: 45%;
    height: 100%;
    background-repeat: no-repeat;
}